.catalog-item {
  .container();
  .flex-block();
  margin-bottom: 60px;
  color: #777777;

  &__column {
    .flex-block-column();

    &--img {
      @media @mobile-widths {
        max-width: 370px;
      }
    }
  }

  &__title {
    .article-title();

    @media @desktop-small-widths {
      margin-top: 0;
    }

    @media @mobile-widths {
      margin-top: 30px;
    }
  }

  &__description {
    .reset-block();
    font-family: "OpenSans";
    font-size: 18px;
    letter-spacing: 2px;
  }

  &__divider {
    width: 30px;
    height: 1px;
    margin: 30px 0;
    background-color: #000000;
  }

  &__text {
    .reset-block();
    font-family: "LatoRegular";
    font-size: 18px;
    letter-spacing: 2px;
    margin: 30px 0;
  }

  &__tip {
    text-transform: uppercase;

    &::after {
      content: "\A";
      white-space: pre;
    }
  }

  &__buttons {
    .reset-list();
    display: flex;

    @media @mobile-widths {
      justify-content: space-between;
    }
  }

  &__button {
    margin-right: 30px;
    margin-top: 30px;

    &:last-child {
      margin-right: 0;
    }

    @media @mobile-widths {
      width: auto;
      min-width: 45px;
      flex-grow: 1;
    }

    &--size {
      width: 70px;
    }

    &--action {
      width: 170px;
    }
  }
}
