.categories {
  .products();
  margin-bottom: 30px;

  &__item {
    .products-item();
    font-family: "OpenSansLight";
    font-style: italic;
    width: 370px;
    height: 418px;

    &--1 {
      background-image: url("../img/category-1.jpg");
    }

    &--2 {
      background-image: url("../img/category-2.jpg");
    }

    &--3 {
      background-image: url("../img/category-3.jpg");
    }
  }

  &__link {
    .products-link();

    &:hover {
      background-color: rgba(34, 37, 51, 0);
    }

    &:active {
      background-color: rgba(34, 37, 51, .8);
    }

    &::before {
      .pseudo-common();
      width: 315px;
      height: 350px;
      border: 3px solid #ffffff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__text {
    .products-text();
  }
}
