.main-menu {
  .reset-list();
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  &__item {
    font-size: 18px;
    font-family: "OpenSans";
    line-height: 18px;
  }

  &__link {

    &:link,
    &:visited {
      text-decoration: none;
      color: #ffffff;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
